.hero {
  background-color: rgb(255, 255, 255); /* or use an image */
  min-height: 40vh; /* Full viewport height */
}

.hero h1 {
  color: black; /* Default color for the entire h1 */
  font-weight: bolder;
  font-family: 'Manrope', sans-serif; 
}

.hero h1 .highlight {
  color: #38ae4e;
  padding-bottom: 5px; /* Add a little padding below the border */
}
